header.header
  .header-topbar
    .container
      .header-topbar__container
        .header-topbar__links
          a(href='#')
            i.fas.fa-envelope
            | #{AOPSInfo.contactEmail}
          a(href='#')
            i.fas.fa-phone
            | #{AOPSInfo.contactPhone}
        .header-topbar__login
          - if (!user) {
            a(href='/login')
              i.fas.fa-sign-in-alt
              |  Login
            span /
            a(href='/register')
              i.fas.fa-user
              |  Registration
          - } else {
            span 
              | Logged in as,
            a(href=`/member/${user._id}`)
              | #{user.name}
            span.mx-3 |
            a(href='/dashboard')
              i.fas.fa-tachometer-alt
              | Dashboard
          - }

  nav.header-navbar
    .container
      .header-navbar__container
        img.header-navbar__logo(src='https://dummyimage.com/70x70/fff/aaa&text=Logo' alt='')
        .header-navbar__links
          .header-navbar__links-container
            a(href='/') Home
            a(href='/about') about
            a(href='#') Organization
            a(href='#') Club Activities
            a(href='#') Members


