doctype html
html
  head
    // meta informations
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // title of the webpage
    title All Notices &mdash; #{AOPSInfo.name} #{AOPSInfo.type}

    // favicon
    link(rel='icon' href='https://dummyimage.com/70x70/fff/000333&text=ACS')

    // stylesheets
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/picker.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/picker.min.js')
    style. 
      .picker {display: block;}
      .pc-select{min-width: 100% !important;}
      .picker .pc-element, .picker .pc-trigger { padding: 1rem 1.5rem; border: 0; border-radius: 2rem; background: #F0F0F6; }

  body
    main.login-box
      .container-fluid
        .row
          .col-md-5
            - if (validationErrors) {
              .alert.alert-danger.mb-5
                p.mb-0(style="font-size: 1.8rem;") Please fix the following errors
                - for (let i = 0; i < validationErrors.length; ++i) {
                  li 
                    | #{validationErrors[i]}
                - }
            - }

            .login-box__container.login-box__reg
              .login-box__title
                p Register
              .login-box__contents

                form(action="/register" method="POST")
                  .form-row.mb-4
                    .col-6.mb-4.pr-4
                      label(for="nameInput") Name
                      input#nameInput.form-control(type='text' placeholder='Full Name' name="name" value= prevData ? prevData.name : '')
                    .col-6.mb-4.pl-4
                      label(for="emailInput") Email
                      input#emailInput.form-control(type='text' placeholder='Email' name="email" value= prevData ? prevData.email : '')
                    .col-6.mb-4.pr-4
                      label(for="passwordInput") Password
                      input#passwordInput.form-control(type='password' placeholder='Password'  name="password" value= prevData ? prevData.password : '')
                    .col-6.mb-4.pl-4
                      label(for="passwordConfInput")  Confirm Password
                      input#passwordConfInput.form-control(type='password' placegolder='Confirm password' name="confPassword" value= prevData ? prevData.confPassword : '')
                    .col-6.mb-4.pr-4
                      label(for="phoneInput") Phone
                      input#phoneInput.form-control(type='text' placeholder='Phone' name="phone" value= prevData ? prevData.phone: '')
                    .col-6.nb-4.pl-4
                      .form-group
                        label(for="roles") Member Role
                        select#roles.form-control(name="role")
                          option(value="1") Member
                          option(value="2") Faculty Member
                          option(value="2") Lab Assistant
                          option(value="3") Executive

                    
                  .form-row
                    .col-12
                      input.btn.btn-primary(type='submit' value='Register')
                      
    script. 
      $(document).ready(function(){
        $('#roles').picker();
      });