@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 960px) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.9;
  background: #F9F9FC; }

::-webkit-scrollbar {
  width: 15px;
  height: 15px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #B9B9B9; }

.button:link, .button:active {
  font-size: 1.6rem !important;
  padding: .6rem 1.5rem;
  border-radius: 2rem;
  border: 1px solid #2C3A47;
  background-color: #fff;
  color: #2C3A47; }

.button:hover, .button:active {
  border: 1px solid #2C3A47;
  background: #f2f2f2;
  color: #2C3A47; }

.pagination {
  margin: 2rem 0; }
  .pagination .page-item {
    border: 0;
    height: 4rem; }
    .pagination .page-item a {
      color: #2C3A47;
      padding: 1.25rem 1.75rem;
      border: 1px solid rgba(0, 0, 0, 0.1); }
    .pagination .page-item span {
      padding: 1.25rem 1.75rem;
      border: 1px solid rgba(0, 0, 0, 0.1); }
  .pagination .page-item.active a {
    background: #2C3A47 !important;
    border: 0; }

.header {
  color: #2C3A47;
  position: relative; }

.header-topbar {
  height: 4rem;
  background: #2C3A47;
  display: flex;
  align-items: center;
  color: #eeeeee; }
  .header-topbar__links a i {
    margin-right: 5px; }
  .header-topbar__links a:link, .header-topbar__links a:visited {
    color: #eeeeee;
    text-decoration: none; }
  .header-topbar__links a:not(:last-child) {
    margin-right: 2rem; }
  .header-topbar__login a i {
    margin-right: 5px; }
  .header-topbar__login a:link, .header-topbar__login a:visited {
    color: #eeeeee;
    text-decoration: none; }
  .header-topbar__login span {
    margin: 0 1rem; }
  .header-topbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.header-navbar {
  height: 7rem;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.06); }
  .header-navbar__container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between; }
  .header-navbar__links-container {
    height: 7rem;
    display: flex;
    flex-direction: row; }
    .header-navbar__links-container a:link, .header-navbar__links-container a:visited {
      display: flex;
      align-items: center;
      height: 5rem;
      color: #333;
      text-decoration: none;
      padding: 0 2rem;
      height: 100%; }
    .header-navbar__links-container a:hover, .header-navbar__links-container a:active {
      background: rgba(44, 58, 71, 0.1); }
  .header-navbar__links {
    display: flex;
    flex-direction: row-reverse; }

.display-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 22rem 0; }
  .display-box__logo {
    margin-right: 7rem; }
    .display-box__logo svg {
      width: 23rem;
      height: 23rem;
      filter: drop-shadow(0 2px 8px rgba(134, 151, 168, 0.15)) drop-shadow(0 8px 32px rgba(134, 151, 168, 0.15)); }
      .display-box__logo svg g {
        clip-path: url(#logo-shape); }
  .display-box__contents h1 {
    font-weight: 800;
    font-size: 5.5rem; }
  .display-box__contents p {
    color: #8a949f;
    font-size: 1.7rem;
    font-style: italic; }

.footer {
  color: #fff; }
  .footer h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 700; }
  .footer a:link, .footer a:visited {
    color: #fff;
    text-decoration: none; }
  .footer i {
    margin-right: 5px; }
  .footer__top {
    background: #2C3A47;
    padding-top: 5rem;
    padding-bottom: 2rem; }
  .footer__bottom {
    padding: 1.5rem 0;
    background: #222d37; }

.welcome-notices {
  position: relative;
  padding: 4rem;
  padding-bottom: 9rem;
  background: #fff; }

.welcome {
  text-align: justify;
  margin-top: 6rem;
  padding-right: 6rem; }
  @media (max-width: 1200px) {
    .welcome {
      padding-right: 15px !important; } }
  .welcome h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3.2rem;
    color: #2C3A47;
    margin-bottom: 5rem; }
    .welcome h2 span {
      font-weight: 700; }
  .welcome p {
    color: #636e79;
    margin-bottom: 2rem; }

.notices {
  background: #fff;
  margin-top: -100px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
  padding: 0;
  color: #636e79;
  border-radius: 2.5rem;
  overflow: hidden; }
  @media (max-width: 1200px) {
    .notices {
      margin-top: 30px !important; } }
  .notices__title {
    background: #2C3A47;
    height: 9rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem; }
    .notices__title p {
      font-weight: bold;
      font-size: 2.5rem;
      margin: 0; }
  .notices__single {
    border-bottom: 1px solid #E8ECF1;
    padding: 2rem; }
    .notices__single p {
      font-weight: bold;
      color: #636e79; }
    .notices__single a {
      letter-spacing: 1px;
      text-decoration: none;
      color: #8a949f; }
  .notices__all {
    padding: 2rem; }
    .notices__all a {
      text-decoration: none;
      color: #636e79;
      font-weight: bold;
      letter-spacing: 1px; }

.notice {
  margin: 7rem 0; }
  .notice__container {
    padding: 0;
    padding: 0rem 2rem 3rem 0rem; }
  .notice__cover img {
    border-radius: 2rem; }
  .notice .button {
    margin-left: 3rem;
    margin-bottom: 2rem; }
  .notice__full {
    overflow: hidden;
    background: #fff;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
    border-radius: 2rem; }
    .notice__full:not(:last-child) {
      margin-bottom: 5rem; }
  .notice__created {
    font-weight: 600;
    font-size: 1.5rem;
    color: #606468;
    padding: 1rem 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .notice__created p {
      margin: 0; }
  .notice__heading {
    display: flex;
    align-items: center;
    height: 8rem;
    color: #2C3A47; }
    .notice__heading h3 {
      font-size: 3rem;
      font-weight: bold; }
      .notice__heading h3:after {
        content: "";
        display: block;
        position: relative;
        top: 5px;
        height: 2px;
        width: 120px;
        background: #2C3A47; }
      .notice__heading h3:before {
        content: "";
        position: relative;
        top: 50px;
        display: block;
        height: 2px;
        width: 80px;
        background: #2C3A47; }
  .notice__title {
    padding: 2rem 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .notice__title h3 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #2C3A47;
      margin: 0; }
  .notice__desc {
    padding: 2rem 3rem;
    color: #8a949f;
    text-align: justify; }

/* Styles for single notices on notices index*/
.notice-single {
  margin: 7rem 0; }
  .notice-single__container {
    padding: 0; }
  .notice-single__cover img {
    border-radius: 2rem; }
  .notice-single__full {
    overflow: hidden;
    padding: 2rem 0;
    padding-right: 3.5rem;
    margin-bottom: 2rem; }
    .notice-single__full:not(:last-child) {
      border-bottom: 1px solid #E8ECF1; }
  .notice-single__created {
    font-weight: 600;
    font-size: 1.5rem;
    color: #606468;
    margin-bottom: 1rem; }
    .notice-single__created p {
      margin: 0; }
  .notice-single__heading {
    display: flex;
    align-items: center;
    height: 8rem;
    color: #2C3A47; }
    .notice-single__heading h3 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 4.2rem; }
      .notice-single__heading h3:after {
        content: "";
        display: block;
        position: relative;
        top: 8px;
        height: 3px;
        width: 120px;
        background: #2C3A47; }
      .notice-single__heading h3:before {
        content: "";
        position: relative;
        top: 55px;
        display: block;
        height: 3px;
        width: 80px;
        background: #2C3A47; }
  .notice-single__title {
    margin-bottom: 1rem; }
    .notice-single__title h3 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #2C3A47;
      margin: 0; }
  .notice-single__desc {
    color: #616972;
    text-align: justify; }

.sidebar__single {
  background: #fff;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 5rem; }
  .sidebar__single--title {
    height: 8rem;
    display: flex;
    padding-left: 2rem;
    align-items: center;
    background: #2C3A47;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold; }
  .sidebar__single--content a:link, .sidebar__single--content a:visited {
    color: #8a949f;
    text-decoration: none; }
  .sidebar__single--content p {
    padding: 1.5rem 2rem;
    margin: 0; }
    .sidebar__single--content p:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.alert {
  border: 0;
  border-radius: 2rem;
  padding: 1.5rem 3rem;
  color: #fff;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 5rem; }
  .alert span {
    font-size: 2.8rem; }

.alert-danger {
  background: #eb4d4b !important; }

.alert-success {
  background: #6ab04c !important; }

.form-title h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem; }
  .form-title h4:after {
    content: "";
    display: block;
    position: relative;
    top: 5px;
    height: 2px;
    width: 50px;
    background: #2C3A47; }

.login-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #E8ECF1; }
  .login-box .row {
    display: flex;
    justify-content: center;
    align-items: center; }
  .login-box__container {
    background: #fff;
    border-radius: 2rem;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06); }
  .login-box__reg {
    max-width: 100% !important; }
    .login-box__reg .form-control {
      font-size: 1.6rem;
      border-radius: 2rem;
      border: 0;
      background: #F0F0F6;
      padding: 2.5rem 1.5rem;
      margin-right: 1rem; }
  .login-box__title {
    background: #2C3A47;
    padding: 1.25rem 3rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem; }
    .login-box__title p {
      margin: 0; }
  .login-box__contents {
    padding: 3rem; }
    .login-box__contents .form-group input.form-control {
      font-size: 1.6rem !important;
      border-radius: 2rem;
      border: 0;
      background: #F0F0F6;
      padding: 2.5rem 1.5rem; }
    .login-box__contents .btn {
      font-size: 1.6rem !important;
      padding: .8rem 2rem;
      border-radius: 2rem;
      border: 0;
      background-color: #2C3A47 !important; }
    .login-box__contents p {
      font-size: 1.5rem; }
      .login-box__contents p a:link, .login-box__contents p a:visited {
        color: #8a949f;
        font-size: 1.5rem;
        text-decoration: none; }

.dashboard__sidebar {
  position: fixed;
  height: 100vh;
  background: #2C3A47;
  color: #fff;
  top: 0;
  left: 0;
  overflow-y: scroll;
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05); }

.dashboard__header {
  background: #fff;
  height: 6.2rem;
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  display: flex;
  flex-direction: row-reverse;
  margin-left: 16.6%;
  padding: 0 4rem;
  align-items: center; }
  .dashboard__header img {
    height: 5rem;
    border-radius: 1rem; }
  .dashboard__header .links {
    position: relative;
    top: 3px; }
  .dashboard__header a {
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold; }
    .dashboard__header a:last-child {
      font-weight: 400;
      color: #8a949f;
      position: relative;
      top: -5px; }
      .dashboard__header a:last-child:hover {
        color: #41484f; }

.dashboard__link-group {
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .dashboard__link-group a i {
    margin-right: 10px;
    color: #73818f; }
  .dashboard__link-group a:first-child:link, .dashboard__link-group a:first-child:visited {
    padding: .5rem 2rem;
    font-size: 1.7rem;
    display: block;
    color: #b3b3b3;
    text-decoration: none;
    background: #2C3A47; }
  .dashboard__link-group a:first-child:hover, .dashboard__link-group a:first-child:active {
    color: #fff; }
    .dashboard__link-group a:first-child:hover i, .dashboard__link-group a:first-child:active i {
      color: #fff; }
  .dashboard__link-group a:not(:first-child):link, .dashboard__link-group a:not(:first-child):visited {
    display: block;
    color: #b3b3b3;
    text-decoration: none;
    margin-left: 4.5rem;
    font-size: 1.4rem; }
  .dashboard__link-group a:not(:first-child):hover, .dashboard__link-group a:not(:first-child):active {
    color: #fff; }
  .dashboard__link-group a.active {
    color: #fff !important; }
    .dashboard__link-group a.active i {
      color: #fff !important; }

.dashboard-content {
  margin: 4rem 0;
  margin-left: 16.66%; }

.dashboard-flash-messages {
  max-width: 1024px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  border-radius: 2rem; }
  .dashboard-flash-messages p {
    margin: 0; }

.dashboard-notice__container {
  max-width: 1024px;
  background: #fff;
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  border-radius: 1rem;
  overflow: hidden; }
  .dashboard-notice__container .form-check {
    padding: 1rem;
    padding-left: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .dashboard-notice__container .form-check span {
      color: #8a949f;
      margin-left: 1rem; }
    .dashboard-notice__container .form-check input {
      position: relative;
      height: 20px;
      width: 20px;
      top: 5px;
      margin-right: 1rem; }

.dashboard-notice__single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .dashboard-notice__single h3 {
    font-weight: 600;
    font-size: 1.8rem; }
  .dashboard-notice__single p {
    font-size: 1.3rem;
    margin: 0;
    color: gray; }

.dashboard-notice__links a {
  border-radius: .4rem;
  padding: .5rem 1rem;
  text-decoration: none; }
  .dashboard-notice__links a:not(:last-child) {
    margin-right: 1rem; }

.dashboard-notice__links a:not([href]) {
  background: #A0A6AB;
  border-radius: .4rem;
  padding: .5rem 1rem;
  opacity: 0.5;
  cursor: not-allowed;
  color: #fff; }
  .dashboard-notice__links a:not([href]):hover {
    background: #A0A6AB;
    color: #fff; }

.dashboard-notice__links .view {
  background: #1dc9b7;
  color: #fff; }
  .dashboard-notice__links .view:hover {
    background: #18a597; }

.dashboard-notice__links .update {
  background: #fa8231;
  color: #fff; }
  .dashboard-notice__links .update:hover {
    background: #d95b05; }

.dashboard-notice__links .delete {
  background: #fd397a;
  color: #fff; }
  .dashboard-notice__links .delete:hover {
    background: #e7024e; }

#editor {
  min-height: 60rem;
  max-height: 60rem;
  overflow: auto;
  font-size: 1.8rem; }
  #editor p {
    margin-bottom: 1.5rem; }

#toolbar {
  position: relative;
  padding: 1.25rem 1rem; }

.save {
  background: #20bf6b;
  border-radius: 1rem;
  padding: .3rem 1rem;
  text-decoration: none !important;
  color: #fff !important;
  position: absolute;
  top: 12px;
  right: 20px; }
  .save:hover {
    background: #1a9c57; }

.title-input {
  position: relative; }
  .title-input span {
    position: absolute;
    top: 0;
    left: 0;
    background: #2C3A47;
    color: #fff;
    padding: 1rem 2rem; }

input.title {
  width: 100%;
  border: 0;
  padding: 1rem 2rem;
  margin-left: 12rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: 0; }

form.new-notice {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.dashboard-settings__container {
  padding: 2rem; }
  .dashboard-settings__container .form-control {
    font-size: 1.6rem !important; }
  .dashboard-settings__container .btn {
    font-size: 1.6rem !important; }

.title-about span {
  position: relative;
  padding: 1.3rem 2rem;
  background: #2C3A47;
  color: #fff;
  display: block;
  font-weight: bold;
  text-align: center;
  width: 100%; }

.preview img {
  margin: 1rem;
  max-width: 100%;
  height: 20rem; }

.profile {
  margin-top: 10rem;
  position: relative; }
  .profile a {
    color: #168dee; }
  .profile a.settings {
    position: absolute;
    top: 3rem;
    right: 5rem;
    text-decoration: none; }
    .profile a.settings i {
      font-size: 4rem; }
  .profile__container {
    background: #fff;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
    padding: 3rem;
    border-radius: 3rem; }
  .profile__header {
    text-align: center;
    margin-top: -9rem; }
  .profile__photo {
    margin-bottom: 2rem; }
    .profile__photo svg {
      height: 17rem;
      filter: drop-shadow(0 2px 8px rgba(134, 151, 168, 0.15)) drop-shadow(0 8px 32px rgba(134, 151, 168, 0.15)); }
      .profile__photo svg g {
        clip-path: url("#member-image-shape"); }
  .profile__desc h1 {
    font-weight: bold;
    font-size: 3rem; }
  .profile__desc p {
    background: #f0f0f6;
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.7rem; }
  .profile__links a {
    text-decoration: none;
    margin-right: 1rem; }
    .profile__links a i {
      margin-right: 5px; }

.user-info__img img {
  height: 15rem;
  width: 15rem;
  border-radius: 2rem; }

.achievements {
  background: #F9F9FC;
  padding: 8rem 0; }
  .achievements__contents .owl-stage-outer {
    padding: 4rem 0; }
  .achievements__contents .item {
    background: #fff;
    margin: 0 15px;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06); }
    .achievements__contents .item .desc {
      padding: 2.5rem;
      letter-spacing: 1px; }

.achievements-title {
  text-align: center;
  text-transform: uppercase; }
  .achievements-title h3 {
    margin-bottom: 6rem;
    font-size: 3.2rem;
    font-weight: bold; }
    .achievements-title h3 .icon i {
      color: #E8B928;
      font-size: 3rem;
      margin-right: 1rem; }

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  translate: transformY(-50%);
  transition: all 0.3s ease-in-out; }

.owl-nav button.owl-prev {
  left: -50px; }

.owl-nav button.owl-next {
  right: -50px; }

.owl-dots {
  text-align: center;
  padding-top: 15px; }

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px; }

.owl-dots button.owl-dot.active {
  background-color: #333 !important; }

button.owl-dot {
  background: #2e4db3 !important;
  border: 1px solid rgba(0, 0, 0, 0.4); }

.owl-dots button.owl-dot:focus {
  outline: none;
  background: red; }

.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent; }

.owl-prev span, .owl-next span {
  display: none; }

.owl-nav button:focus {
  outline: none; }
