.dashboard__sidebar.col-md-2.px-0
  .dashboard__options
    .dashboard__link-group
      a.dashboard__link(href="/dashboard" class= url == '/dashboard' ? "active" : "")
        i.fas.fa-tachometer-alt
        | Dashboard

    .dashboard__link-group
      a.dashboard__link(href="/dashboard" class= url == '/pages' ? "active" : "")
        i.fas.fa-pager
        | Pages
      
      a.dashboard__link(href="/dashboard/notice/new") Create a new page
      a.dashboard__link(href="/dashboard/notice") All pages

    .dashboard__link-group
      a.dashboard__link(href="/dashboard/notice" class= url.includes('notice') ? "active" : "") 
        i.fas.fa-calculator
        | Notice

      a.dashboard__link(href="/dashboard/notice/new" class= url == '/dashboard/notice/new' ? "active" : "") 
        i.fas.fa-plus
        |Create a new notice
      a.dashboard__link(href="/dashboard/notice" class= url == '/dashboard/notice' ? "active" : "") 
        i.fas.fa-asterisk
        |View all notices

    .dashboard__link-group
      a.dashboard__link(href="#") 
        i.fas.fa-calendar-week
        | Events

      a.dashboard__link(href="#") Create a new event
      a.dashboard__link(href="#") View all events

    .dashboard__link-group
      a.dashboard__link(href="#" class= url.includes('members') ? "active" : "") 
        i.fas.fa-user
        | Members

      a.dashboard__link(href="/dashboard/members/invite" class= url == '/dashboard/members/invite' ? "active" : "") Invite Members
      a.dashboard__link(href="#") View all members

    .dashboard__link-group
      a.dashboard__link(href="/dashboard/settings" class= url.includes('settings') ? "active" : "") 
        i.fas.fa-cog
        | Settings

      a.dashboard__link(href="/dashboard/settings/general" class= url == '/dashboard/settings/general' ? "active" : "") 
        i.fas.fa-asterisk
        |General
      a.dashboard__link(href="/dashboard/settings/about" class= url == '/dashboard/settings/about' ? "active" : "") 
        i.fas.fa-home
        | About Community

      a.dashboard__links(href="#") 
        i.fas.fa-user
        |Member roles
      