.dashboard__sidebar.col-md-2.px-0
  .dashboard__options
    .dashboard__link-group
      a.dashboard__link(href="/dashboard" class= url == '/dashboard' ? "active" : "")
        i.fas.fa-tachometer-alt
        | Dashboard

    .dashboard__link-group
      a.dashboard__link(href="/dashboard" class= url == '/pages' ? "active" : "")
        i.fas.fa-pager
        | Pages
      
      a.dashboard__link(href="/dashboard/notice/new") 
        i.fas.fa-plus
        |Create a new page
      a.dashboard__link(href="/dashboard/notice") 
        i.fas.fa-asterisk
        |All pages




    
    .dashboard__link-group
      a.dashboard__link(href="/dashboard/notice" class= url.includes('notice') ? "active" : "") 
        i.fas.fa-calculator
        | Notice

      if user.noticePermissions.createUpdateDeleteSelf
        a.dashboard__link(href="/dashboard/notice/new" class= url == '/dashboard/notice/new' ? "active" : "") 
          i.fas.fa-plus
          | Create a new notice
        
      a.dashboard__link(href="/dashboard/notice" class= url == '/dashboard/notice' ? "active" : "") 
        i.fas.fa-asterisk
        |View all notices
    




    .dashboard__link-group
      a.dashboard__link(href="#") 
        i.fas.fa-calendar-week
        | Events

      a.dashboard__link(href="#") 
        i.fas.fa-plus
        |Create a new event
      a.dashboard__link(href="#") 
        i.fas.fa-asterisk
        |View all events

    .dashboard__link-group
      a.dashboard__link(href="/dashboard/achievement" class= url.includes('achievement') ? 'active' : '') 
        i.fas.fa-trophy
        | Achievements

      if user.achievementPermissions.createUpdateDeleteSelf
        a.dashboard__link(href="/dashboard/achievement/new" class= url == '/dashboard/achievement/new' ? "active" : "") 
          i.fas.fa-plus
          |Create a new achivement


      a.dashboard__link(href="/dashboard/achievement" class= url == '/dashboard/achievement' ? "active" : "") 
        i.fas.fa-asterisk
        | View all achievements

    .dashboard__link-group
      a.dashboard__link(href="#" class= url.includes('member') ? "active" : "") 
        i.fas.fa-users
        | Members

      if user.invitePermissions
        a.dashboard__link(href="/dashboard/member/invite" class= url == '/dashboard/member/invite' ? "active" : "") 
          i.fas.fa-user-plus
          |Invite Members
      a.dashboard__link(href="/dashboard/member/authorize") 
        i.fas.fa-check
        | Authorize a member
      a.dashboard__link(href="#") 
        i.fas.fa-user-shield
        |Executive Members
      a.dashboard__link(href="#") 
        i.fas.fa-desktop
        |Lab Assistant
      
      a.dashboard__link(href="#") 
        i.fas.fa-asterisk
        |View all members

    .dashboard__link-group
      a.dashboard__link(href="/dashboard/settings" class= url.includes('settings') ? "active" : "") 
        i.fas.fa-cog
        | Settings

      
      if user.role === 'Superadmin'
        a.dashboard__link(href="/dashboard/settings/general" class= url == '/dashboard/settings/general' ? "active" : "") 
          i.fas.fa-asterisk
          |General

      
      
        a.dashboard__link(href="/dashboard/settings/about" class= url == '/dashboard/settings/about' ? "active" : "") 
          i.fas.fa-home
          | About Community

      a.dashboard__link(href="/dashboard/settings/account" class= url == '/dashboard/settings/account' ? "active" : "") 
        i.fas.fa-user
        | Account settings

      //a.dashboard__links(href="#") 
        i.fas.fa-user
        |Member roles
      