.welcome-notices {
    position: relative;
    padding: 3rem;
    padding-bottom: 7rem;
    background: #fff;
}

.welcome {
    text-align: justify;
    margin-top: 6rem;
    padding-right: 6rem;
    @media (max-width: 1200px) {
        padding-right: 15px !important;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 3.2rem;
        color: $color-primary;
        margin-bottom: 5rem;

        span { font-weight: 700; }
    }

    p {
        color: $color-text;
        margin-bottom: 2rem;
    }
}

.notices {
    background: #fff;
    margin-top: -100px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
    padding: 0;
    color: $color-text;
    overflow: hidden;
    border-radius: 2rem;
    
    @media (max-width: 1200px) {
        margin-top: 30px !important;
    }

    &__title {
        background: $color-gradient;
        height: 9rem;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 2rem;
        p {
            font-weight: bold;
            font-size: 2.5rem;
            margin: 0;
        }
    }


    &__single {
        border-bottom: 1px solid rgba($color-primary,.1) ;
        padding: 2rem;

        p {
            font-weight: bold;
            color: $color-text;
        }
        a {
            letter-spacing: 1px;
            text-decoration: none;
            color: lighten($color-text, 15%);
        }
    }


    &__all {
        padding: 2rem;
        a {
            text-decoration: none;
            color: $color-text;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
}


.notice {
    margin: 7rem 0;

    &__container {
        padding: 0;
        padding: 0rem 2rem 3rem 0rem;
    }

    &__cover {
        img { border-radius: 2rem; }
    }

    &__full {
        &:not(:last-child) {
            margin-bottom: 5rem;
        }
    }

    &__gallery {
        img {
            border-radius: 1rem;
        }
    }

    &__created {
        padding-bottom: 1.25rem;
        margin-bottom: 3rem;
        font-weight: 600;
        font-size: 1.5rem;
        color: #606468;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        p{margin: 0;}
    }

    &__heading {
        h3 {
            font-size: 3rem;
            font-weight: bold;

            &:after {
                content: "";
                display: block;
                position: relative;
                top: 5px;
                height: 2px;
                width: 120px;
                background: $color-primary;
            }

            &:before {
                content: "";
                position: relative;
                top: 50px;
                display: block;
                height: 2px;
                width: 80px;
                background: $color-primary;
            }
        }
        
        display: flex;
        align-items: center;
        height: 8rem;
        color: $color-primary;
    }


    &__title {
        margin-bottom: 1rem;

        h3 {
            font-size: 2.5rem;
            font-weight: bold;
            color: #2C3A47;
            margin: 0;
        }
    }


    &__desc {
        color: #8a949f;
        text-align: justify;
    }
}


/* Styles for single notices on notices index*/
.notice-single {
    margin: 7rem 0;

    &__container {
        padding: 0;
    }

    &__cover {
        img { border-radius: 2rem; }
    }

    &__full {
        overflow: hidden;
        padding: 2rem 0;
        padding-right: 3.5rem;
        margin-bottom: 2rem;

        &:not(:last-child) {
            border-bottom: 1px solid $color-light;
        }
    }


    &__created {
        font-weight: 600;
        font-size: 1.5rem;
        color: #606468;
        margin-bottom: 1rem;
        p{margin: 0;}
    }


    &__heading {
        h3 {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 4.2rem;

            &:after {
                content: "";
                display: block;
                position: relative;
                top: 8px;
                height: 3px;
                width: 120px;
                background: $color-primary;
            }

            &:before {
                content: "";
                position: relative;
                top: 55px;
                display: block;
                height: 3px;
                width: 80px;
                background: $color-primary;
            }
        }
        

        display: flex;
        align-items: center;
        height: 8rem;
        color: $color-primary;
    }


    &__title {
        margin-bottom: 1rem;

        h3 {
            font-size: 2.5rem;
            font-weight: bold;
            color: #2C3A47;
            margin: 0;
        }
    }


    &__desc {
        color: #616972;
        text-align: justify;
    }
}



.sidebar {
    &__single {
        background: $white;
        border-radius: 2rem;
        overflow: hidden;
        margin-bottom: 5rem;
        box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);


        &--title {
            height: 8rem;
            display: flex;
            padding-left: 2rem;
            align-items: center ;
            background: $color-gradient;
            color: $white;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        &--content {
            a {
                &:link, &:visited {
                    color: $color-primary;
                    letter-spacing: .5px;
                    span {
                        color: #8a949f;
                    }
                    text-decoration: none;
                }
            }

            p {
                padding: 1.5rem 2rem;
                margin: 0;
                &:not(:last-child) {
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                }
            }
        }
    }
}


.alert {
    border: 0;
    border-radius: 2rem;
    padding: 1.5rem 3rem;
    color: $white;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 5rem;
    span {
        font-size: 2.8rem;
    }
}

.alert-danger {
    background: #eb4d4b !important;
}

.alert-success {
    background: #6ab04c !important;
}


.form-title {
    h4 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3rem;

        &:after {
            content: "";
            display: block;
            position: relative;
            top: 5px;
            height: 2px;
            width: 50px;
            background: $color-primary;
        }
    }
}





// Gallery
.gallery {
    padding: 7rem 0;
    padding-top: 7rem;
    background: #fff;

    &__contents {
        margin-top: 7rem;
    }


    &__single { 
        height: 30rem;
        background-size: cover;
        background-position: center;
        border-radius: 2rem;
        text-decoration: none;
        margin-bottom: 3rem;
        color: #fafafa;

        &:hover {
            text-decoration: none;
            h3, p { color: #fff;  }
        }

        padding: 2rem;
        color: #fafafa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h3 {
            font-weight: bold;
            font-size: 2.5rem;
            color: #fafafa;
        }

        p {
            color: #fafafa;
            i {margin-right: 5px;}
            font-size: 1.8rem;
            color: #fff;
            span {color: #fff;}
        }
    }
}


.events {
    padding: 7rem 0;
    background: #F3F6FB;



    .card-body {padding: 0;}
    .card-contents {padding: 1rem 4rem; padding-bottom: 3rem; }

    .card {
        border-radius: 2rem;
        box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
        border: 0;
        margin-bottom: 6rem;
        overflow: hidden;


        .view_event {
            background: $color-primary;
            padding: .5rem 1rem;
            border: 0;
            font-size: 1.4rem;
            color: #fff;
        }


        p {
            margin-bottom: 0;
            color: #8a949f;

        }
        i { color: $color-primary; }

        h5 {
            font-weight : 700;
            font-size: 2.2rem;
            border-bottom: 1px solid rgba(0,0,0,.1);
            padding: 2rem;

            span {
                font-size: 1.3rem;
                color: #8a949f;

            }
        }
    }


    &__full {
        padding: 0;
            .card {
            background: transparent;
            box-shadow: none;
            border: 0;
            margin-bottom: 0rem;


                .card-title {
                    padding: 1rem 0;
                    font-size: 3rem;
                }

                .card-contents{padding: 0;}

                

                .card-event-info {
                    padding: 1rem 3rem;
                }
                
                p {margin-bottom: 1rem; }

                

            
            }


            .desc-title {
                font-size: 2.2rem;
                font-weight: bold;
                margin-top: 3rem;
                margin-bottom: 2rem;

                &:after {
                    content: '';
                    display: block;
                    width: 60px;
                    height: 2px;
                    background: $color-primary;
                    margin-top: 5px;
                }
            }
            

    }
}



a.view_more {
    
    margin-top: 3rem;
    
    color: #fff;
    background: $color-primary;
    text-decoration: none;
    display: inline-block;
    padding: .7rem 2.5rem;
    font-size: 1.6rem;
    border-radius: 3rem;
    transition: all .3s;
    font-weight: bold;
    &:hover {
        background: lighten($color-primary, 20%);
    }
    
}

