doctype html
html
  head
    // meta informations
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // title of the webpage
    title General Settings &mdash; #{AOPSInfo.name} #{AOPSInfo.type}

    // favicon
    link(rel='icon' href='https://dummyimage.com/70x70/fff/000333&text=ACS')

    // stylesheets
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(href='//cdn.quilljs.com/1.3.6/quill.snow.css' rel='stylesheet')
    script(src='/js/picker.min.js')


    
  body
    .dashboard
      include ../partials/header

      .container-fluid.mx-0
        .row
          include ../partials/sidebar
          .col-md-10.dashboard-content
            .dashboard-flash-messages
              - if (successMessage.length > 0)
                .alert.alert-success
                  | #{successMessage}
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;

              - if (errorMessage.length > 0)
                .alert.alert-danger
                  | #{errorMessage}
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;


            .dashboard-notice__container.mx-auto
              .dashboard-settings__container 
                form(action="/dashboard/members/invite" method="POST")
                  .form-row(style="margin-bottom: 1rem;")
                    .col-12
                      .form-title
                        h4(style="margin-bottom: 2rem;")
                          | Invite members you know

                    .col-6.mb-3
                      label(for='name') Name
                      input#name.form-control(type='text' placeholder='Name' required='true' name='name')

                    .col-6.mb-3
                      label(for='email') Email
                      input#email.form-control(type='text' placeholder='Email' required='true' name='email')

                  .form-row
                    .col-12.mb-4
                      .form-group
                        label(for="roles") Member Role
                        select#roles.form-control(name="role")
                          option(value="1") Member
                          option(value="2") Faculty Member
                          option(value="3") Lab Assistant
                          option(value="4") Executive
                          option(value="5") Stuff
                   
                  button.btn.btn-primary(type='submit') Invite

                    
                
                    


    
    include ../partials/footer
    script. 
      
